
<div style='border:1px solid red;padding:4px;margin:4px;'>de si dovla</div>
<script>
    setTimeout(function(){
    document.getElementsByTagName("div")[0].innerHTML = "Dovla is the greatest teacher";
    },5000);
</script>