<h3>Ajkule</h3>
<div id="naziv">Velika bela ajkula</div>
<script>
    var naziv = document.getElementById("naziv");
    setTimeout(()=>{
        naziv.innerHTML = "Dovla ricma, ajkula"
    },2000)
    
</script>